<ion-header no-border class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="bonfire"></ion-icon>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <!-- inicio para refresh -->
  <ion-refresher slot="fixed" (ionRefresh)="recargar( $event )">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- fin para refresh -->

  <!-- inicio para los posts -->
  <app-posts [posts]="posts"></app-posts>
  <!-- fin para los posts -->

  <!-- Inicio para infinit scroll -->
  <ion-infinite-scroll  [disabled]="!habilitado"
                        threshold="250px"
                        (ionInfinite)="siguientes($event)">
      <ion-infinite-scroll-content>
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  <!-- fin para infinit scroll -->
</ion-content>
